TRACKER_HTTP_PORT=3080
TRACKER_HTTPS_PORT=3443
TRACKER_BASE_URL=https://semirain.synology.me:3443
ALLOWED_ORIGINS=https://darkhtk.github.io
DASHBOARD_USER=admin
DASHBOARD_PASSWORD=change-this-password
NO_VISIT_ALERT_HOURS=24
ALERT_WEBHOOK_URL=
